@page
@model NddcStaffMedicals.Web.Pages.Staff.DashboardModel
@{
     ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}



<div class="header">
	<h1 class="header-title">
		E-commerce Overview
	</h1>
	<p class="header-subtitle">Your sales increased by 4.25% and revenue increased by 5.12%.</p>
</div>

<div class="row">
	<div class="col-md-6 col-lg-3 col-xl">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Income</h5>
					</div>

					<div class="col-auto">
						<div class="avatar">
							<div class="avatar-title rounded-circle bg-primary-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
							</div>
						</div>
					</div>
				</div>
				<h1 class="display-5 mt-1 mb-3">$25.300</h1>
				<div class="mb-0">
					<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.65% </span>
					Less sales than usual
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-3 col-xl">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Orders</h5>
					</div>

					<div class="col-auto">
						<div class="avatar">
							<div class="avatar-title rounded-circle bg-primary-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart align-middle"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
							</div>
						</div>
					</div>
				</div>
				<h1 class="display-5 mt-1 mb-3">12.514</h1>
				<div class="mb-0">
					<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.50% </span>
					More visitors than usual
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-3 col-xl">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Activity</h5>
					</div>

					<div class="col-auto">
						<div class="avatar">
							<div class="avatar-title rounded-circle bg-primary-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity align-middle"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
							</div>
						</div>
					</div>
				</div>
				<h1 class="display-5 mt-1 mb-3">29.232</h1>
				<div class="mb-0">
					<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -4.25% </span>
					More earnings than usual
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-3 col-xl">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col mt-0">
						<h5 class="card-title">Revenue</h5>
					</div>

					<div class="col-auto">
						<div class="avatar">
							<div class="avatar-title rounded-circle bg-primary-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign align-middle"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
							</div>
						</div>
					</div>
				</div>
				<h1 class="display-5 mt-1 mb-3">$83.300</h1>
				<div class="mb-0">
					<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 8.35% </span>
					More earnings than usual
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
		<div class="card flex-fill">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">Calendar</h5>
			</div>
			<div class="card-body d-flex">
				<div class="align-self-center w-100">
					<div class="chart">
						<div id="datetimepicker-dashboard"><div class="bootstrap-datetimepicker-widget usetwentyfour"><ul class="list-unstyled"><li class="show"><div class="datepicker"><div class="datepicker-days" style=""><table class="table table-sm"><thead><tr><th class="prev" data-action="previous"><span class="fas fa-chevron-left" title="Previous Month"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Month">December 2023</th><th class="next" data-action="next"><span class="fas fa-chevron-right" title="Next Month"></span></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td data-action="selectDay" data-day="11/26/2023" class="day old weekend">26</td><td data-action="selectDay" data-day="11/27/2023" class="day old">27</td><td data-action="selectDay" data-day="11/28/2023" class="day old">28</td><td data-action="selectDay" data-day="11/29/2023" class="day old">29</td><td data-action="selectDay" data-day="11/30/2023" class="day old">30</td><td data-action="selectDay" data-day="12/01/2023" class="day">1</td><td data-action="selectDay" data-day="12/02/2023" class="day weekend">2</td></tr><tr><td data-action="selectDay" data-day="12/03/2023" class="day weekend">3</td><td data-action="selectDay" data-day="12/04/2023" class="day">4</td><td data-action="selectDay" data-day="12/05/2023" class="day">5</td><td data-action="selectDay" data-day="12/06/2023" class="day">6</td><td data-action="selectDay" data-day="12/07/2023" class="day">7</td><td data-action="selectDay" data-day="12/08/2023" class="day">8</td><td data-action="selectDay" data-day="12/09/2023" class="day weekend">9</td></tr><tr><td data-action="selectDay" data-day="12/10/2023" class="day weekend">10</td><td data-action="selectDay" data-day="12/11/2023" class="day">11</td><td data-action="selectDay" data-day="12/12/2023" class="day">12</td><td data-action="selectDay" data-day="12/13/2023" class="day">13</td><td data-action="selectDay" data-day="12/14/2023" class="day">14</td><td data-action="selectDay" data-day="12/15/2023" class="day">15</td><td data-action="selectDay" data-day="12/16/2023" class="day weekend">16</td></tr><tr><td data-action="selectDay" data-day="12/17/2023" class="day weekend">17</td><td data-action="selectDay" data-day="12/18/2023" class="day active today">18</td><td data-action="selectDay" data-day="12/19/2023" class="day">19</td><td data-action="selectDay" data-day="12/20/2023" class="day">20</td><td data-action="selectDay" data-day="12/21/2023" class="day">21</td><td data-action="selectDay" data-day="12/22/2023" class="day">22</td><td data-action="selectDay" data-day="12/23/2023" class="day weekend">23</td></tr><tr><td data-action="selectDay" data-day="12/24/2023" class="day weekend">24</td><td data-action="selectDay" data-day="12/25/2023" class="day">25</td><td data-action="selectDay" data-day="12/26/2023" class="day">26</td><td data-action="selectDay" data-day="12/27/2023" class="day">27</td><td data-action="selectDay" data-day="12/28/2023" class="day">28</td><td data-action="selectDay" data-day="12/29/2023" class="day">29</td><td data-action="selectDay" data-day="12/30/2023" class="day weekend">30</td></tr><tr><td data-action="selectDay" data-day="12/31/2023" class="day weekend">31</td><td data-action="selectDay" data-day="01/01/2024" class="day new">1</td><td data-action="selectDay" data-day="01/02/2024" class="day new">2</td><td data-action="selectDay" data-day="01/03/2024" class="day new">3</td><td data-action="selectDay" data-day="01/04/2024" class="day new">4</td><td data-action="selectDay" data-day="01/05/2024" class="day new">5</td><td data-action="selectDay" data-day="01/06/2024" class="day new weekend">6</td></tr></tbody></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fas fa-chevron-left" title="Previous Year"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Year">2023</th><th class="next" data-action="next"><span class="fas fa-chevron-right" title="Next Year"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectMonth" class="month">Jan</span><span data-action="selectMonth" class="month">Feb</span><span data-action="selectMonth" class="month">Mar</span><span data-action="selectMonth" class="month">Apr</span><span data-action="selectMonth" class="month">May</span><span data-action="selectMonth" class="month">Jun</span><span data-action="selectMonth" class="month">Jul</span><span data-action="selectMonth" class="month">Aug</span><span data-action="selectMonth" class="month">Sep</span><span data-action="selectMonth" class="month">Oct</span><span data-action="selectMonth" class="month">Nov</span><span data-action="selectMonth" class="month active">Dec</span></td></tr></tbody></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fas fa-chevron-left" title="Previous Decade"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5" title="Select Decade">2020-2029</th><th class="next" data-action="next"><span class="fas fa-chevron-right" title="Next Decade"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectYear" class="year old">2019</span><span data-action="selectYear" class="year">2020</span><span data-action="selectYear" class="year">2021</span><span data-action="selectYear" class="year">2022</span><span data-action="selectYear" class="year active">2023</span><span data-action="selectYear" class="year">2024</span><span data-action="selectYear" class="year">2025</span><span data-action="selectYear" class="year">2026</span><span data-action="selectYear" class="year">2027</span><span data-action="selectYear" class="year">2028</span><span data-action="selectYear" class="year">2029</span><span data-action="selectYear" class="year old">2030</span></td></tr></tbody></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" data-action="previous"><span class="fas fa-chevron-left" title="Previous Century"></span></th><th class="picker-switch" data-action="pickerSwitch" colspan="5">2000-2090</th><th class="next" data-action="next"><span class="fas fa-chevron-right" title="Next Century"></span></th></tr></thead><tbody><tr><td colspan="7"><span data-action="selectDecade" class="decade old" data-selection="2006">1990</span><span data-action="selectDecade" class="decade" data-selection="2006">2000</span><span data-action="selectDecade" class="decade" data-selection="2016">2010</span><span data-action="selectDecade" class="decade active" data-selection="2026">2020</span><span data-action="selectDecade" class="decade" data-selection="2036">2030</span><span data-action="selectDecade" class="decade" data-selection="2046">2040</span><span data-action="selectDecade" class="decade" data-selection="2056">2050</span><span data-action="selectDecade" class="decade" data-selection="2066">2060</span><span data-action="selectDecade" class="decade" data-selection="2076">2070</span><span data-action="selectDecade" class="decade" data-selection="2086">2080</span><span data-action="selectDecade" class="decade" data-selection="2096">2090</span><span data-action="selectDecade" class="decade old" data-selection="2106">2100</span></td></tr></tbody></table></div></div></li><li class="picker-switch accordion-toggle"></li></ul></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-xxl-8 d-flex order-2 ">
		<div class="card flex-fill w-100">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">Total Revenue</h5>
			</div>
			<div class="card-body py-3">
				<div>
					<canvas id="myChart" style="width: 800px;"></canvas>
				</div>
				@* <div class="chart chart-md">
					<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
					<canvas id="chartjs-dashboard-line" width="657" height="300" style="display: block; width: 657px; height: 300px;" class="chartjs-render-monitor"></canvas>
				</div> *@
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-8 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">Top Selling Products</h5>
			</div>
			<div id="datatables-dashboard-products_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
				<div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row dt-row">
					<div class="col-sm-12">
						<table id="datatables-dashboard-products" class="table table-striped my-0 dataTable no-footer" aria-describedby="datatables-dashboard-products_info">
							<thead>
								<tr><th class="sorting sorting_asc" tabindex="0" aria-controls="datatables-dashboard-products" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th><th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-products" rowspan="1" colspan="1" aria-label="License: activate to sort column ascending">License</th><th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-products" rowspan="1" colspan="1" aria-label="Technology: activate to sort column ascending">Technology</th><th class="d-none d-xl-table-cell sorting" tabindex="0" aria-controls="datatables-dashboard-products" rowspan="1" colspan="1" aria-label="Tickets: activate to sort column ascending">Tickets</th><th class="sorting" tabindex="0" aria-controls="datatables-dashboard-products" rowspan="1" colspan="1" aria-label="Sales: activate to sort column ascending">Sales</th></tr>
							</thead>
							<tbody>
								<tr class="odd">
									<td class="sorting_1">Abel</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-danger">Angular</span></td>
									<td class="d-none d-xl-table-cell">80</td>
									<td class="d-none d-xl-table-cell">150</td>
								</tr>
								<tr class="even">
									<td class="sorting_1">Ada</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-info">Vue</span></td>
									<td class="d-none d-xl-table-cell">60</td>
									<td class="d-none d-xl-table-cell">610</td>
								</tr>
								<tr class="odd">
									<td class="sorting_1">AppStack</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-success">HTML</span></td>
									<td class="d-none d-xl-table-cell">50</td>
									<td class="d-none d-xl-table-cell">720</td>
								</tr>
								<tr class="even">
									<td class="sorting_1">Libre</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-warning">React</span></td>
									<td class="d-none d-xl-table-cell">30</td>
									<td class="d-none d-xl-table-cell">280</td>
								</tr>
								<tr class="odd">
									<td class="sorting_1">Material Blog</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-info">Vue</span></td>
									<td class="d-none d-xl-table-cell">10</td>
									<td class="d-none d-xl-table-cell">480</td>
								</tr>
								<tr class="even">
									<td class="sorting_1">Milo</td>
									<td class="d-none d-xl-table-cell">Single license</td>
									<td><span class="badge bg-warning">React</span></td>
									<td class="d-none d-xl-table-cell">40</td>
									<td class="d-none d-xl-table-cell">280</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="datatables-dashboard-products_info" role="status" aria-live="polite">Showing 1 to 6 of 9 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="datatables-dashboard-products_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="datatables-dashboard-products_previous"><a aria-controls="datatables-dashboard-products" aria-disabled="true" aria-role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatables-dashboard-products" aria-role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatables-dashboard-products" aria-role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="datatables-dashboard-products_next"><a href="#" aria-controls="datatables-dashboard-products" aria-role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-4 d-flex">
		<div class="card flex-fill w-100">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">Sales / Revenue</h5>
			</div>
			<div class="card-body d-flex w-100">
				<div class="align-self-center chart chart-lg">
					<div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
					<canvas id="chartjs-dashboard-bar-alt" width="296" height="350" style="display: block; width: 296px; height: 350px;" class="chartjs-render-monitor"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>



	<script>
		const ctx = document.getElementById('myChart');

		new Chart(ctx, {
			type: 'bar',
			data: {
				labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
				datasets: [{
					label: '# of Votes',
					data: [12, 19, 3, 5, 2, 3],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
	</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Line chart
		new Chart(document.getElementById("chartjs-dashboard-line"), {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Orders",
					fill: true,
					backgroundColor: window.theme.primary,
					borderColor: window.theme.primary,
					borderWidth: 2,
					data: [3, 2, 3, 5, 6, 5, 4, 6, 9, 10, 8, 9]
				},
				{
					label: "Sales ($)",
					fill: true,
					backgroundColor: "rgba(0, 0, 0, 0.05)",
					borderColor: "rgba(0, 0, 0, 0.05)",
					borderWidth: 2,
					data: [5, 4, 10, 15, 16, 12, 10, 13, 20, 22, 18, 20]
				}
				]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				tooltips: {
					intersect: false
				},
				hover: {
					intersect: true
				},
				plugins: {
					filler: {
						propagate: false
					}
				},
				elements: {
					point: {
						radius: 0
					}
				},
				scales: {
					xAxes: [{
						reverse: true,
						gridLines: {
							color: "rgba(0,0,0,0.0)"
						}
					}],
					yAxes: [{
						ticks: {
							stepSize: 5
						},
						display: true,
						gridLines: {
							color: "rgba(0,0,0,0)",
							fontColor: "#fff"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Bar chart
		new Chart(document.getElementById("chartjs-dashboard-bar-alt"), {
			type: "bar",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Last year",
					backgroundColor: window.theme.primary,
					borderColor: window.theme.primary,
					hoverBackgroundColor: window.theme.primary,
					hoverBorderColor: window.theme.primary,
					data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
					barPercentage: .75,
					categoryPercentage: .5
				}, {
					label: "This year",
					backgroundColor: "#E8EAED",
					borderColor: "#E8EAED",
					hoverBackgroundColor: "#E8EAED",
					hoverBorderColor: "#E8EAED",
					data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
					barPercentage: .75,
					categoryPercentage: .5
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: false
				},
				scales: {
					yAxes: [{
						gridLines: {
							display: false
						},
						stacked: false,
						ticks: {
							stepSize: 20
						}
					}],
					xAxes: [{
						stacked: false,
						gridLines: {
							color: "transparent"
						}
					}]
				}
			}
		});
	});
</script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var markers = [{
			coords: [37.77, -122.41],
			name: "San Francisco: 375"
		},
		{
			coords: [40.71, -74.00],
			name: "New York: 350"
		},
		{
			coords: [39.09, -94.57],
			name: "Kansas City: 250"
		},
		{
			coords: [36.16, -115.13],
			name: "Las Vegas: 275"
		},
		{
			coords: [32.77, -96.79],
			name: "Dallas: 225"
		}
		];
		var map = new jsVectorMap({
			map: "us_aea_en",
			selector: "#usa_map",
			zoomButtons: true,
			markers: markers,
			markerStyle: {
				initial: {
					"r": 9,
					"fill": window.theme.primary,
					"fill-opacity": .9,
					"stroke": "#fff",
					"stroke-width": 7,
					"stroke-opacity": .4
				},
				hover: {
					fill: window.theme.primary,
					stroke: window.theme.primary
				}
			},
			regionStyle: {
				initial: {
					fill: "#DCE3E8"
				}
			},
			zoomOnScroll: false
		});
		window.addEventListener("resize", () => {
			map.updateSize();
		});
		setTimeout(function () {
			map.updateSize();
		}, 250);
	});
</script>
<script>
	$(function () {
		$('#datatables-dashboard-products').DataTable({
			pageLength: 6,
			lengthChange: false,
			bFilter: false,
			autoWidth: false
		});
	});
</script>
