@page
@model NddcStaffMedicals.Web.Pages.Staff.DashboardModel
@{
     ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<div class="col-lg-12">
    <div class="d-flex flex-column h-100">
       <div class="row justify-content-around">
            <div class="col-lg-3 col-md-6">
                            <div class="card shadow-none text-center py-3">
                                <div class="card-body py-4">
                                    <div class="avatar-sm position-relative mb-4 mx-auto">
                                        <div class="job-icon-effect"></div>
                                        <div class="avatar-title bg-transparent text-success rounded-circle">
                                            <i class="ri-coins-line fs-1"></i>
                                        </div>
                                    </div>
                                    <a href="#!" class="stretched-link">
                                        <h5 class="fs-17 pt-1">Make Payments</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
            <div class="col-lg-3 col-md-6">
            <div class="card shadow-none text-center py-3">
                                <div class="card-body py-4">
                                    <div class="avatar-sm position-relative mb-4 mx-auto">
                                        <div class="job-icon-effect"></div>
                                        <div class="avatar-title bg-transparent text-success rounded-circle">
                                            <i class=" ri-pages-line fs-1"></i>
                                        </div>
                                    </div>
                                    <a href="#!" class="stretched-link">
                                        <h5 class="fs-17 pt-1">Test Results</h5>
                                    </a>
                                </div>
                            </div>
                            </div>
            <div class="col-lg-3 col-md-6">
                            <div class="card shadow-none text-center py-3">
                                <div class="card-body py-4">
                                    <div class="avatar-sm position-relative mb-4 mx-auto">
                                        <div class="job-icon-effect"></div>
                                        <div class="avatar-title bg-transparent text-success rounded-circle">
                                            <i class=" ri-user-received-2-line fs-1"></i>
                                        </div>
                                    </div>
                                    <a href="#!" class="stretched-link">
                                        <h5 class="fs-17 pt-1">Contact Support</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

</div>