@page
@model NddcStaffMedicals.Web.Pages.Staff.Payments.AllPaymentsModel
@{
}

<div class="header text-center">
    <h1 class="display-4 text-dark fw-bold" style="
    font-family: 'Montserrat', sans-serif;
">
        Payments
    </h1>
</div>

@* <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h2 class="mb-sm-0 text-white">All Payments</h2>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Payments</a></li>
                    <li class="breadcrumb-item active">All Payments</li>
                </ol> 
            </div>

        </div>
    </div>
</div> *@

<div class="row">
    <div class="">
        <div class="card p-3 border rounded-4 border-opacity-10">
        <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1 fs-4" style="font-family: 'Montserrat', sans-serif;">All Payments</h4>
            <div>
                <a href="/Staff/Payments/NewPayments" type="button" class="btn btn-primary btn-lg">
                   New Payments
                </a>
            </div>
        </div><!-- end card-header -->

        <div class="card-body">
            <div class="table-responsive table-card">
                <table class="table table-striped">
                    <thead class="">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Examination Year</th>
                            <th scope="col">Test Center</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>   
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#" class="fw-semibold">1</a></td>
                            <td>2022</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2022</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">2</a></td>
                            <td>2021</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2021</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">3</a></td>
                            <td>2020</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2020</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                            
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="fw-semibold">4</a></td>
                            <td>2019</td>
                            <td>Olive Tree</td>
                            <td><span class="badge bg-success">$24.05</span></td>
                            <td>2/5/2019</td>
                            <td><a href="javascript:void(0);"><i class="ri-printer-line"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <div class="mt-3 text-center">
                <a href="javascript:void(0);" class="text-muted text-decoration-underline">View
                    all News</a>
            </div>

        </div>
       </div><!-- end card body -->
    </div><!-- end card -->



<!-- Active Tables -->
