@page
@model NddcStaffMedicals.Web.Pages.Staff.Payments.NewPaymentsModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h2 class="mb-sm-0 text-white">New Payment</h2>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Payments</a></li>
                    <li class="breadcrumb-item active">New Payment</li>
                </ol> 
            </div>

        </div>
    </div>
</div>


<ul class="nav nav-pills nav-justified arrow-navtabs nav-success bg-light mb-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab"  role="tab" aria-selected="true">
            <span class="d-block d-sm-none"><i class="mdi mdi-home-variant"></i></span>
            <span class="d-none d-sm-block"> Step 1: Payment Information</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link">
            <span class="d-block d-sm-none"><i class="mdi mdi-account"></i></span>
            <span class="d-none d-sm-block text-white"> Step 2: Make Payment</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link">
            <span class="d-block d-sm-none"><i class="mdi mdi-email"></i></span>
            <span class="d-none d-sm-block text-white">Step 3: Verify</span>
        </a>
    </li>
</ul>


<div class="d-flex justify-content-center align-items-center m-5" style="height: 80vh;">
    <div class="card" style="width: 24rem;">
        <div class="card-body">
            <h3 class="card-title text-center">Payment</h3>
            @* @if (!string.IsNullOrEmpty(Model.Error))
            {
                <div class="alert alert-danger">@Model.Error</div>
            }
            <form method="post">
                <div class="form-group mt-3">
                    <label for="name">Select Test Center</label>
                    <select class="form-select" id="inputGroupSelect02">
                        <option selected="">Choose...</option>
                        <option value="1">Medics Diagnostics</option>
                        <option value="2">Synlab</option>
                        <option value="3">Geo Services Medical Center</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="name">Location</label>
                    <input type="text" class="form-control" id="name" value="Port Harcourt" required />
                </div>
                <div class="form-group mt-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" asp-for=@Model.Payment.Name name="name" value="Dagogo Tolofari" id="name" required />
                </div>
                <div class="form-group mt-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" asp-for=@Model.Payment.Email name="email" value="tolofaridagogo@gmail.com" id="email" required />
                </div>
                <div class="form-group mt-3">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" asp-for=@Model.Payment.Amount name="amount" value="250000" id="amount" required />
                </div>
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Pay Now</button>
                </div>

            </form> *@
        </div>
    </div>
</div>
@*<div class="row p-3 justify-content-center">
    <div class="">
    <div class="card col-8">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Payment Information</h4>
            <div>
            </div>
        </div><!-- end card-header -->

        <div class="card-body">
            <div class="col-12">
                <div class="col-lg-11 pb-3">
                    <div class="">
                        <label for="inputGroupSelect02" class="form-label pb-2">Select Test Center</label>
                        <select class="form-select" id="inputGroupSelect02">
                            <option selected="">Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        
                    </div>
                </div>
                <div class="col-lg-11 pb-3">
                    <div>
                        <label for="labelInput" class="form-label pb-2">Location</label>
                        <input type="text" class="form-control" id="labelInput" placeholder="Test Center Location">
                    </div>
                </div>
                <div class="col-lg-11 pb-3">
                    <div>
                        <label for="labelInput" class="form-label pb-2">Cost</label>
                        <input type="number" class="form-control" id="labelInput" placeholder="">
                    </div>
                </div>
                <button type="button" class="btn btn-success waves-effect waves-light">Proceed</button>
            </div>
        </div>
    </div>
    </div>
</div>
*@