@page
@model PrivacyModel
@{
    ViewData["Title"] = "Verification";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Verify.Status == "success")
{
    <p>Thank you your transaction was successfull</p>
}
else
{
    <p>@Model.Verify.ErrorMsg</p>
}

